
* {
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
  justify-content: space-between
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

header {
  background-color: #BE1E1E;
  padding: 15px;
  text-align: left;
  font-size: 25px;
  color: white;
  font-family: Arial;
  font-weight: bold;
}

.header h2 {
  color: white;
  font-size: 25px;
}

.header a {
  color: white;
  font-size: 14px;
}

.nav {
  display: flex;
  justify-content: right;
  background-color: #423C3C;
}

.nav a {
  padding: 15px 10px 15px 10px;
  font-size: 14px;
  font-family: Arial;
  color: white;
  text-align: right;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.about-place {
  order: 1;
  flex: 65%;
  padding: 30px;
}

.about-place img {
  width:1000px;
  height:600;
}

.sidenav {
  order: 2;
  flex: 35%;
  padding: 20px;
  align-items: right;
}

.sidenav img {
  width:250px;
  object-fit: cover;
  padding-bottom: 30px;
}

@media (max-width: 800px) {
  .about-place, .sidenav {
    flex: 100%;
  }
}

h3 {
  font-size: 20px;
  font-family: Arial;
  font-weight: bold;
  color: black;
  text-align: left;
  padding: 10px 5px 10px 0px;
}

p {
  font-size: 14px;
  font-family: Arial;
  color: black;
}

h4 {
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  padding: 30px 5px 10px 0px;
}

footer {
  background-color: #423C3C;
  padding: 30px;
  justify-content: left;
  font-family: Arial;
  font-size: 12px;
}

footer p {
  color: white;
}
